<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.pro.db.map.AnalysisMapper">
	
	<!-- 动态Sql 返回项目基表-->
	<select id="selectDynamicProject" resultType="com.zjm.pro.db.model.Pro_project" parameterType="java.lang.String">
		<![CDATA[
	  		${value} 
		]]>
	</select>	
	
</mapper>  
