<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.crm.db.map.Crm_materialTreeMapper">
	
	<!-- 客户资料类型树表-->
	<resultMap type="com.zjm.crm.db.model.Crm_materialTree" id="MaterialTreeMap">
		<id property="materialTree_ID" column="materialTree_ID" />
		<result property="materialModel_ID" column="materialModel_ID" />
		<result property="pmaterialTree_ID" column="pmaterialTree_ID" />
		<result property="materialTreeName" column="materialTreeName" />
		<result property="materialTreeFullCode" column="materialTreeFullCode" />
		<result property="order_id" column="order_id" />
		<result property="unit_uid" column="unit_uid" />
		<result property="unit_uidName" column="unit_uidName" />
		<result property="updateUserName" column="updateUserName" />
		<result property="updateDateTime" column="updateDateTime" />
			
	</resultMap>

		<!-- 查询客户资料类型列表  -->
	<select id="selectMaterialTreeList" resultMap="MaterialTreeMap">
		<![CDATA[
			SELECT
				materialTree_ID,
				materialModel_ID,
				pmaterialTree_ID,
				materialTreeName,
				materialTreeFullCode,
				order_id,
				unit_uid,
				unit_uidName,
				updateUserName,
				updateDateTime
								
			FROM
				crm_materialTree
			WHERE 1=1 ${value} 
		]]>
	</select>
	<!-- 新增 一条 客户资料类型记录-->
	<insert id="insertOneMaterialTree"	parameterType="com.zjm.crm.db.model.Crm_materialTree">
		<![CDATA[
		INSERT INTO crm_materialTree (
		        materialTree_ID,
				materialModel_ID,
				pmaterialTree_ID,
				materialTreeName,
				materialTreeFullCode,
				order_id,
				unit_uid,
				unit_uidName,
				updateUserName,
				updateDateTime
		)
		VALUES
		(
			#{materialTree_ID},
			#{materialModel_ID},
			#{pmaterialTree_ID},
			#{materialTreeName},
			#{materialTreeFullCode},
			#{order_id},
			#{unit_uid},
			#{unit_uidName},
			#{updateUserName},
			NOW()		
		) ;
		]]>
	</insert>
	<!-- 查看一条客户资料类型记录  -->
	<select id="selectOneMaterialTreeByWhereSql" parameterType="java.lang.String"  resultMap="MaterialTreeMap">
	<![CDATA[
		SELECT 
	            materialTree_ID,
				materialModel_ID,
				pmaterialTree_ID,
				materialTreeName,
				materialTreeFullCode,
				order_id,
				unit_uid,
				unit_uidName,
				updateUserName,
				updateDateTime
		       
	    FROM 
	         crm_materialTree 
		WHERE 1=1 ${value}
		limit 1 
		]]> 				 
	</select>
	
	<!-- 判断是否存在 -->
 	<select id="isExistMaterialTree" resultType="java.lang.Integer" parameterType="java.lang.String">
 		<![CDATA[
	 		select 
				count(materialTreeName)
		  	from crm_materialTree
		  	where 1=1  ${value}
	  	]]>
 	</select>
 	
 	<!-- 更新一个客户资料类型 信息  -->	
	<update id="updateOneaterialTree" parameterType="com.zjm.crm.db.model.Crm_materialTree">
		UPDATE 
		     crm_materialTree
		<set >
					<if test="materialTreeName != null" >materialTreeName = #{materialTreeName},</if>
					<if test="materialTreeFullCode != null" >materialTreeFullCode = #{materialTreeFullCode},</if>
					<if test="order_id != null" >order_id = #{order_id},</if>
					<if test="unit_uid != null" >unit_uid = #{unit_uid},</if>
				    <if test="unit_uidName != null" >unit_uidName = #{unit_uidName},</if>
					<if test="updateUserName != null" >updateUserName = #{updateUserName},</if>
				     updateDateTime = NOW()
			</set>
		WHERE materialTree_ID=#{materialTree_ID} 
	</update>
 	
 	<!--根据wheresql删除客户资料类型表信息 -->
	<delete id="deleteOneMaterialTreeBySql" parameterType="java.lang.String">
		<![CDATA[DELETE FROM crm_materialTree WHERE 1=1 ${value} ]]>
	</delete>
 	
 	
</mapper>
