<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjm.crm.db.map.Crm_otherReceivableMapper">
	<!-- 应收账款表信息 -->
	<resultMap type="com.zjm.crm.db.model.Crm_otherReceivable" id="OtherReceivableResultMap">
		<result property="otherReceivable_ID" column="otherReceivable_ID" />
		<result property="client_ID" column="client_ID" />
		<result property="customerName" column="customerName" />
		<result property="occurDate" column="occurDate" />
		<result property="payDate" column="payDate" />
		<result property="taxSum" column="taxSum" />
		<result property="remark" column="remark" />
		<result property="unit_uid" column="unit_uid" />
		<result property="unit_uidName" column="unit_uidName" />
		<result property="updateUserName" column="updateUserName" />
		<result property="updateDateTime" column="updateDateTime" />
		
	</resultMap>

	<!-- 新增一个应收账款信息 -->
	<insert id="insertOneOtherReceivableInfo" parameterType="com.zjm.crm.db.model.Crm_otherReceivable">
		<![CDATA[
		INSERT INTO crm_otherReceivable(
			otherReceivable_ID,
			client_ID,
			customerName,
			occurDate,
			payDate,
			taxSum,
			remark,
			unit_uid,
			unit_uidName,
			updateUserName,
			updateDateTime
			
		)
		VALUES
		(
			#{otherReceivable_ID},
			#{client_ID},
			#{customerName},
			#{occurDate},
			#{payDate},
			#{taxSum},
			#{remark},
			#{unit_uid},
			#{unit_uidName},
			#{updateUserName},
			NOW()
			
		) ;
		]]>
	</insert>
	

	<!-- 查询所有的应收账款列表 -->
	<select id="selectOtherReceivablePageTables" parameterType="com.zjm.crm.db.model.Crm_otherReceivable"
		resultMap="OtherReceivableResultMap">
		<![CDATA[
		SELECT
			otherReceivable_ID,
			client_ID,
			customerName,
			occurDate,
			payDate,
			taxSum,
			remark,
			unit_uid,
			unit_uidName,
			updateUserName,
			updateDateTime
		FROM crm_otherReceivable
		where 1=1  AND client_ID=#{client_ID}]]>
	</select>
	
	<!-- 删除一个应收账款 -->
	<delete id="deleteOneOtherReceivableInfo" parameterType="java.lang.String">
		<![CDATA[
			delete from crm_otherReceivable
			where otherReceivable_ID=#{otherReceivable_ID}
		]]>
	</delete>
	
	<!-- 根据relationID查询应收账款信息 -->
	<select id="selectOneOtherReceivableInfo" parameterType="com.zjm.crm.db.model.Crm_otherReceivable" resultMap="OtherReceivableResultMap">
		<![CDATA[
		 	select 
				client_ID,
				customerName,
				occurDate,
				payDate,
				taxSum,
				remark,
				unit_uid,
				unit_uidName,
				updateUserName,
				updateDateTime
		 	from crm_otherReceivable
		 	where otherReceivable_ID = #{otherReceivable_ID}
		]]>
	</select>
	
	<!-- 更新应收账款信息 -->
	<update id="updateOneOtherReceivableInfo" parameterType="com.zjm.crm.db.model.Crm_otherReceivable">
		<![CDATA[
			UPDATE 
			  crm_otherReceivable
			SET
			  customerName = #{customerName},
			  occurDate = #{occurDate},
			  payDate = #{payDate},
			  taxSum = #{taxSum},
			  remark = #{remark},
			  updateUserName = #{updateUserName},
			  updateDateTime = NOW()
			WHERE otherReceivable_ID = #{otherReceivable_ID}
		]]>
	</update>
	
	
	<delete id="deleteOtherReceivableByClient_ID" parameterType="string">
			delete from crm_otherReceivable
			where client_ID=#{client_ID}
	</delete>
	
	
</mapper>  
